<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>user index</title>
</head>
<body>

	<h1>Handlebars template</h1>
	{{#each users as |user|}}
	<div>
		{{!-- if we had static images for each user: --}}
		{{!-- <img src="/profilepics/{{user.username}}_sm.jpg" alt=""> --}}
		<a href="/{{user.username}}">{{user.name.full}}</a>
		{{/each}}
	</div>

</body>
</html>